body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #ffe4e1;
}

#app {
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    padding: 30px;
    text-align: center;
    background-color: transparent; /* Usunięcie białego tła */
}

#number {
    font-size: 72px;
    margin-bottom: 30px;
    color: #333;
    background-color: transparent; /* Usunięcie białego tła */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrowanie przycisków w poziomie */
    gap: 15px;
}

.button-row {
    display: flex;
    justify-content: center; /* Centrowanie przycisków w poziomie */
    gap: 15px;
}

.button-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
}

.button-8 {
    background-color: #e1ecf4;
    border-radius: 3px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    transition: transform 0.3s ease;
}

.button-8:hover,
.button-8:focus {
    background-color: #b3d3ea;
    color: #2c5777;
}

.button-8:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.button-8:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
}

.remove {
    position: absolute;
    right: -100px;
    background-color: #ff0000;
    color: white;
    height: 100%;
    border: none;
    border-radius: 0;
    transition: right 0.3s ease;
}

.button-wrapper.swiped .remove {
    right: 0;
}
